<div class="container">
    <div class="ask_form">
        <h1>Q&A</h1>
    </div>
</div>
<div class="qna">
    <table class="type10">
    <thead>
    <tr>
        <th scope="cols">목차</th>
        <th scope="cols">질문</th>
        <th scope="cols">카테고리</th>
        <th scope="cols">궁금한 사람</th>
        <th scope="cols">답변</th>
        <th scope="cols">조회수</th>
        <th scope="cols">날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td><a href="#" style="font-weight:bold; color:black;">엠티는 언제가나요?</a></td>
        <td>학과 생활</td>
        <td>김, 이, 박, 최</td>
        <td>0</td>
        <td>312</td>
        <td>2017 . 7 . 11</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td><a href="#" style="font-weight:bold; color:#FF5675;">오늘의 학식은 뭔가욤?</a></td>
        <td>학교생활</td>
        <td>이</td>
        <td>2</td>
        <td>13</td>
        <td>2017 . 7 . 10</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>야영 재미있나요?</td>
        <td>학교생활</td>
        <td>박,최</td>
        <td>1</td>
        <td>213</td>
        <td>2017 . 7 . 10</td>
    </tr>
    </tbody>
</table>
</div>