<!--외대 로고 사진-->
<div class="hufs_logo">
    <center><a href="#">무언가 로고가 들어가는게 좋겠당 </a></center>
    <!--외대 사진 하나가 들어가야 함-->
</div>
<!---여기까지-->
<div class="newly_event">
    새로운 이벤트     
</div>
<!--공지 상자-->
<div class="container">
    <div class="new-alert">
        <h2>주요공지</h2>
        <ol style="padding-left:0px;">
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">우인호 교수님께서 드디어 학생에게 에이쁠을 </li>
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">강준영교수님께서 드디어 태규랑 밥을 먹는다고 </li>
        </ol>
    </div>
          <div class="new-alert">
        <h2>질의응답</h2>
        <ol style="padding-left:0px;">
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">첫번째 공지임</li>
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">두번째 공지임</li>
        </ol>
    </div>
    </div>
    <div class="container">
      <div class="new-alert">
        <h2>강의평가</h2>
        <ol style="padding-left:0px;">
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">첫번째 공지임</li>
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">두번째 공지임</li>
        </ol>
    </div>
          <div class="new-alert">
        <h2>회계서비스</h2>
        <ol style="padding-left:0px;">
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">첫번째 공지임</li>
            <li style="padding-top:10px; border-bottom: 1px solid rgba(0, 0, 0, .2);">두번째 공지임</li>
        </ol>
    </div>  
    </div>