

     <div class="face_images">
            <img src="https://file2.instiz.net/data/file2/2015/12/31/7/5/8/7584a2d5a24ee9b6fba15e29e4ae360c.jpg" alt="중국 국기"  width="100%" height= '337px'>
        </div>
            <div class="notice_new">
            한국외국어대학교 중국어통번역학과
            </div>

<div class="container_wrap_content">
    <div class="tooltip-wrap">  
        <div class="trigger_pop">
            <a href="#none" data-tooltip="chart01">글 쓰기</a>
        </div>
  <!-- (S) : 레이어 콘텐츠 -->
 <div class="chart-pop chart01" tabindex="0" data-tooltip-con="chart01" data-focus="chart01" data-focus-prev="chart01-close">
  <div class="pop-h1"><h1>공지사항 업로드</h1></div>
    <div class="layer-content">
     <form action="#" method="POST">
       <h2>공지 제목</h2>
       <input type="text" placeholder="공지 제목"><p>
         <h2>공지내용</h2>
       <textarea rows="3"></textarea><p>
        <input type="radio" name="select" value="전체공개">전체공개
        <input type="radio" name="select" value="우리과만">우리과만<p></p>
       <button type="submit">submit</button>
     </form>
    </div>
    <a href="#" class="chart-close01 tooltip-close" data-focus="chart01-close" data-focus-next="chart01">닫기</a>
  </div>
  <!-- (E) : 레이어 콘텐츠 -->
</div> 
</div>

<div class="notice_content_one">
    <div class="content_one">
    <a href="#"><h1>이비가 그치고 나며언</h1><p>
                <p>난 너를 찾아 떠나갈거야아아아</p>
        </a>
    </div>
    <!--<div class="imgsum"><img src="http://d2fbmjy3x0sdua.cloudfront.net/cdn/farfuture/vB5RpVAVJhV6m47BPKjTsSraQ0UKUivYf2zvg33ypbQ/mtime:1486670441/sites/default/files/styles/bean_wysiwyg_full_width/public/PSGreatHornedOwl3.jpg?itok=YaJVBVLE" width="180px" height="180px" ></div>-->
</div>
<div class="notice_content_one">
        <a href="#"><h1>이비가 그치고 나며언</h1><p>
                <p>쌉다라라라라리라루랄 쌉다리라라리랄루라 따라라이라리라라리라로~</p>
        </a>
</div>
<div class="notice_content_one">
        <a href="#"><h1>이비가 그치고 나며언</h1><p>
                <p>슬픈!노래는 듣고싶지않아! 내맘속에!</p>
        </a>
</div>
<!--진짜 글 내용들
    <div class="notice_content">
        <ol class="notice_list_ol"><h2>공지사항</h2>
            <li class="notice_list">우인호 교수님께서 드디어 학생에게 에이쁠을 주신다고 함</li>
            <li class="notice_list">강준영교수님께서 드디어 태규랑 밥을 먹는다고 함</li>
            <li class="notice_list">알리미에서 드디어 회식을 한다고 함</li>
            <li class="notice_list">회식회식</li>
            <li class="notice_list">오늘 티비가 고장나서 일찍 퇴근</li>
            <li class="notice_list">배부르게 먹었으니 이따가 퇴근하고 치맥</li>
        </ol>
    </div>
-->